.imgHead {
  background-image: url("https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&w=1000&q=80");

  *background-image: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  opacity: 90%;
}

.bg_color {
  width: 100%;
  height: 310px;
  position: absolute;
  opacity: 95%;
  background: #fffdf7;
  top: auto;
  left: 0;
  background-size: cover;
}

.wave {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 515px;
  left: 0;
  overflow: hidden;
}

.w1 {
  animation: w1 10s linear infinite;
}

.w2 {
  animation: w2 10s linear -0.125s infinite,
    desplazamiento 2s ease -0.125s infinite;
  opacity: 0.8;
}
.w3 {
  animation: w3 10s linear -0.125s infinite,
    desplazamiento 3s ease -0.125s infinite;
  opacity: 0.5;
}

@keyframes w1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: auto;
  }
}

@keyframes w2 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: auto;
  }
}
@keyframes w3 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: auto;
  }
}

@keyframes desplazamiento {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}
