/** {
  border: 1px dashed red;
  min-height: 10px;
}

*/

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffdf7;
  font-size: large;
}

/*******ABOUT********ABOUT********ABOUT********ABOUT********ABOUT****/

.about {
  margin-top: 320px;
  background-color: #fffdf7;
  font-family: "Architects Daughter", cursive;
  font-size: 28px;
}
.textAbout {
  color: #020202;
  font-size: 31px;
}

.perfil {
  object-fit: cover;
  *object-position: bottom;
}

.icon {
  color: #f2ce55;
  margin-bottom: 50px;
}
/***PROJECT******PROJECT******PROJECT******PROJECT******PROJECT******/

.project {
  margin-top: 70px;
  background-color: #fffdf7;
  font-family: "NTR", sans-serif;
}

/***CONTACT***//***CARDS ***/

.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.1);
}
.overflow {
  overflow: hidden;
}
.proj {
  transform: scale(1);
  transition: transform 0.5s ease;
}
.proj:hover {
  transform: scale(1.8);
}
.card-title {
  *font-size: 22px;
  font-family: "Oswald", sans-serif;
  color: #020202;
}

.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #f2ce55;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-in-out;
}

.card:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*TITLE*/
/*Titulo de los apartados, con efecto hover & after bajo el texto*/
.title {
  font-family: "Oswald", sans-serif;
  color: #030405;
  font-size: 55px;
  display: inline-block;
  position: relative;
  padding-bottom: 7px;
}

.title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #f2ce55;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-in-out;
}

.title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Skill background*/
.skillHome {
  background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  margin-top: 110px;
  *opacity: 90%;
}

/* CONTACT  CONTACT  CONTACT  CONTACT  CONTACT  CONTACT */
.contact {
  margin-top: 180px;
  background-color: #fffdf7;
  font-family: "NTR", sans-serif;
}
/****BUTTON*****CONTACT*****/
.send {
  color: #a8903d;
}
.iconContact {
  color: #f2ce55;
}

.formInput {
  font-family: "Oswald", sans-serif;
  color: #030405;
  font-size: 22px;
}

/*socialButton*/

.socialButton{
  margin-top: 100px;
}