/** {
  border: 1px dashed red;
  min-height: 10px;
}

*/

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffdf7;
  font-size: large;
}
/*ABOUT*/

.about {
  margin-top: 320px;
  background-color: #fffdf7;
  font-family: "Architects Daughter", cursive;
  font-size: 28px;
}
.textAbout {
  color: #020202;
  font-size: 31px;
}

.perfil {
  *object-fit: cover;
  *object-position: bottom;
}

.icon {
  color: #f2ce55;
  margin-bottom: 50px;
}
/*PROJECT*/

.project {
  margin-top: 70px;
  background-color: #fffdf7;
  font-family: "NTR", sans-serif;
}

/*CONTACT//CARDS */

.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.1);
}
.overflow {
  overflow: hidden;
}
.proj {
  transform: scale(1);
  transition: transform 0.5s ease;
}
.proj:hover {
  transform: scale(1.8);
}
.card-title {
  font-family: "Oswald", sans-serif;
  color: #020202;
}

.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #f2ce55;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-in-out;
}

.card:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*TITLE*/
/*Titulo de los apartados, con efecto hover & after bajo el texto*/
.title {
  font-family: "Oswald", sans-serif;
  color: #030405;
  font-size: 55px;
  display: inline-block;
  position: relative;
  padding-bottom: 7px;
}

.title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #f2ce55;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-in-out;
}

.title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*CONTACT*/
.contact {
  margin-top: 180px;
  background-color: #fffdf7;
  font-family: "NTR", sans-serif;
}
/*Boton contactos*/
.send {
  color: #a8903d;
}
