/*
*{
  border: 1px dashed red;
  min-height: 10px;
}
*/

/*SKILL*/

.skill {
  position: relative;
  z-index: 1;
  *background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  *background-repeat: no-repeat;
  *background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 445px;
  width: 100%;
  *opacity: 90%;
}
.title-skill {
  font-family: "Oswald", sans-serif;
  color: #f2ce55;
  font-size: 55px;
  display: inline-block;
  position: relative;
  padding-bottom: 7px;
}

.title-skill:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #f2ce55;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-in-out;
}

.title-skill:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.item {
  display: flex;
  *margin: auto;
  height: 10rem;
  height: 10rem;

  min-width: 10rem;
  padding: 2rem;
}

.item img {
  width: auto;
  pointer-events: none;
}

.slider {
  display: flex;
  cursor: grab;
}

.slider-container {
  position: absolute;
  z-index: 3;
  left: 0em;
  top: 530px;
  /* opacity: 0.9; */
  margin-bottom: 20px;
  background-color: #fffdf7;
  margin: 0 auto;
  overflow-x: hidden;
}
